HTTP_PORT=8080

ONECHANNEL_SECRET=123
META_SECRET=123

POSTGRES_URL=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=dev
POSTGRES_PASSWORD=dev
#POSTGRES_MAX_CONNS=
#POSTGRES_MIN_CONNS=
#POSTGRES_MAX_CONN_LIFETIME=
#POSTGRES_MAX_CONN_IDLE_TIME=

NATS_URL=localhost
NATS_PORT=4222
NATS_USERNAME=dev
NATS_PASSWORD=dev
#NATS_TIMEOUT=
#NATS_MAX_RECONNECTS=
#NATS_RECONNECT_WAIT=
#NATS_RETRY_ON_FAILED_CONNECT=
#NATS_PING_INTERVAL=
#NATS_MAX_PINGS_OUT=
