HTTP_PORT=8080

LOG_LEVEL=debug

TZ=UTC

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=1channel_dev
POSTGRES_USERNAME=dev
POSTGRES_PASSWORD=dev

META_PAGE_ID=
META_PAGE_ACCESS_TOKEN=
META_APP_SECRET=
META_VERIFY_TOKEN=
